html, body {
	background-color: #B8B8B8;
	margin:0;
	padding:0;
}

.panel{
	border-radius: 5px;   
}

.pad-left{
	margin-left: 2px; 
}

.pad-right{
	margin-right: 2px; 
}

.top-left{
	height:300px; 
	width:700px;
}

.top-right{
	height:300px; 
	width:700px;
}

.logo-presentation{
	height: 100px; 
	width: 250px; 
	padding-left: 60px; 
}

.header-location{
	text-align: center;
	font-style: italic;
	font-size: 30px; 
	padding: 20px;  
}

.row{
	margin-top: 10px; 
}

.row-space{
	padding-top: 10px; 
	text-align: center;
}

.formRow{
	position: relative;
	left: 20px; 
	width: 60%;
    right: 10px;
    margin-bottom: 10px; 
	padding-bottom: 3px; 
}

.labelWidth{
	width: 200px;
	margin:10px;
}

.category{
	font-size: 20px; 
}

.order-button-location{
	position: relative;
	bottom: 0px;
	right: 20px; 
	margin-top: 55%; 
}

.menuSidebar {
	position: relative;
	top: 35px;
}

.menuSidebar a {
	/*border-radius:25px;*/
	/*border:1px solid black;*/
	/*display:block;*/
	/*font-size:4vh;*/
	/*margin:2% 10%;*/
	font-size: 2em; 
	text-decoration: none;
	/*background-color:#4B6B62;*/
}

.orderSidebar{
	position: relative;
	top:20px;
	left:20px;
	font-size: 2vh;
}

#orderSideButton{
	position: absolute;
	top: 45%;
	background-color: #4B6B62;
	color: white;
	height: 31px;
	border-radius: 50%;
	border: none;
}

#orderButton, #payBill{
	border: none;
	font-size: 20px;
	margin-right: 50px;
	padding: 4px 3px;
}

a:link, a:visited{
	color: black; 
}

a:hover {
	background-color:#81B883;
}

.categoryName {
	text-align:center;
	background-color: #4B6B62;
	padding:10px;
	margin:0;
}

.category:nth-child(even) {
	background-color: #5B6B62;
}

.category:nth-child(odd) {
	background-color: #3B6B62;
}

.Item{
	margin:0;
	padding:10px;
}

.Item:nth-child(even) {
	background-color: #81B7A8;
}

.Item:nth-child(odd) {
	background-color: #6F9E91;
}

.price {
	float: right;
}

.itemName {
	margin:0;
	padding:0;
}

.description{
	margin:0;
	padding-bottom:10px;
}

.detailedView{
	background-color:#474747;
	visibility:hidden;
	padding:0px 0px 10px 0px;
}

.detailedView img {
	width:50%;
	display:block;
	margin: 0 auto;
	background-color:black;
	max-height:400px;
	
}

.detailedView p {
	margin:2% 5%;
	padding-bottom: 1%;
	font-size: 2em;
	border-bottom: 1px solid black;
}

.detailedView .backButton{
	margin-left:5%;
}

.detailedView .addToOrder{
	margin-right:5%;
	float:right;
}

.center {
	margin: 100px auto;
	width:66%;
}

.header {
	width:100%;
	background-color:#B8B8B8;
	position: fixed;
	top:0px;
	height:100px;
	min-width: 850px;
	border: solid 1px black;
}

.header .headerTitle{
	position: absolute;
	left: 17%;
	width: 66%;
	height: 100px;
	top: 8px;
	margin:0;
	text-align: center;
	font-size:4em;
}

.header .logo {
	float:left;
	width:17%;
	height:100px;
}

.header .help a {
	width: 13%;
	position: absolute;
	padding:5px;
	right: 2%;
	top: 27px;
	background-color:#81B883;
	text-align:center;
	font-size:2em;
	border-radius:25px;
	text-decoration:none;
}

.leftSideBarStyles{
	background-color:#B8B8B8;
	position:fixed;
	top:101px;
	width: 17%;
	height:100%;
	text-align:center;
	border: solid 1px black;
}

.leftSideBarStyles input {
	font-size:1vw;
}

.rightSidebar{
	background-color:#B8B8B8;
	position:fixed;
	top:101px;
	right:0;
	width: 17%;
	height:100%;
	border: solid 1px black;
}

.anchor{
   display:block;
   height:100px; /* this is the height of your header */
   margin-top:-100px; /* this is again negative value of the height of your header */
   visibility:hidden;
}

.detail {
	font-size:4vmin;
	margin:3%;
}

.detail input,select{
	float:right;
	font-size:3vmin;
	width:50%;
}

.buttonStyle {
	padding: 5px;
	background-color:#4B6B62;	
	border-radius:25px;
	border:1px solid black;
	font-size:4vmin;
}

.special {
	position: relative;
	bottom: -80px;
	font-size: 25px;
	font-weight: bold;
}	

.specialTitle {
	font-size: 23px;
}

.specialDesc {
	font-size: 21px;
	font-weight: normal;
}

.special img {
	position: relative;
	top: 5px;
	width:80%;
	border-radius: 15px;
}

#search {
	position: relative;
	top: 13px;
}