html, body {
	background-color: #B8B8B8;
	margin:0;
	padding:0;
}

.panel{
	border-radius: 5px;   
}

.pad-left{
	margin-left: 2px; 
}

.pad-right{
	margin-right: 2px; 
}

.top-left{
	height:300px; 
	width:700px;
}

.top-right{
	height:300px; 
	width:700px;
}

.logo-presentation{
	height: 100px; 
	width: 250px; 
	padding-left: 60px; 
}

.header-location{
	text-align: center;
	font-style: italic;
	font-size: 30px; 
	padding: 20px;  
}

.row{
	margin-top: 10px; 
}

.row-space{
	padding-top: 10px; 
	text-align: center;
}

.category{
	font-size: 20px; 
}


.order-button-location{
	position: relative;
	bottom: 0px;
	right: 20px; 
	margin-top: 55%; 
}

.menuSidebar a {
	border-radius:25px;
	border:1px solid black;
	display:block;
	font-size:4vh;
	margin:2% 10%;
	background-color:#4B6B62;
}

a:link, a:visited{
	color: black; 
}

a:hover {
	background-color:#81B883;
}

.menu{
}

.categoryName {
	text-align:center;
	background-color: #4B6B62;
	padding:10px;
	margin:0;
}

.Item{
	margin:0;
	padding:10px;
}

.Item:nth-child(even) {
	background-color: #81B7A8;
}

.Item:nth-child(odd) {
	background-color: #6F9E91;
}

.price {
	float: right;
}

.itemName {
	margin:0;
	padding:0;
}

.description{
	margin:0;
	padding-bottom:10px;
}

.detailedView{
	background-color:#474747;
	visibility:hidden;
	padding:0px 0px 10px 0px;
}

.detailedView img {
	width:100%;
	display:block;
	margin: 0 auto;
	background-color:black;
	
}

.detailedView p {
	margin:10px;
	font-size: 2em;
}

.detailedView .selections {
	margin:10px;
}

.detailedView .backButton {
	padding:5px;
	margin:20px;
	background-color:#4B6B62;	
	border-radius:25px;
	border:1px solid black;
}

.center {
	margin: 150px auto;
	width:50%;
}

.header {
	width:100%;
	background-color:#B8B8B8;
	position: fixed;
	top:0px;
	height:150px;
	min-width: 850px;
	border: solid 1px black;
}

.header .headerTitle{
	margin:0;
	text-align:center;
	font-size:7em;
}

.header .logo {
	padding-left:5%;
	float:left;
	width:250px;
}

.header .help a {
	margin-right:5%;
	padding:5px;
	float:right;
	background-color:#81B883;
	text-align:center;
	font-size:7em;
	border-radius:25px;
	border:1px solid black;
	text-decoration:none;
}

.leftSideBarStyles{
	background-color:#B8B8B8;
	position:fixed;
	top:150px;
	width: 25%;
	height:100%;
	text-align:center;
	font-size: 4vh;
	border: solid 1px black;
}

.leftSideBarStyles input {
	font-size:1vw;
}

.rightSideBarStyles{
	background-color:#B8B8B8;
	position:fixed;
	top:150px;
	right:0;
	width: 25%;
	height:100%;
	font-size: 4vh;
	border: solid 1px black;
}

.anchor{
   display:block;
   height:150px; /* this is the height of your header */
   margin-top:-150px; /* this is again negative value of the height of your header */
   visibility:hidden;
}

.collapseButton {
	position:fixed;
	top:50%;
	left:23%;
}